plugins {
    GODOT_KOTLIN_DEPENDENCY
}

repositories {
    mavenCentral()
}

godot {
    isAndroidExportEnabled.set(ANDROID_ENABLED)
    d8ToolPath = File("D8_TOOL_PATH")
    androidCompileSdkDir = File("ANDROID_COMPILE_SDK_DIR")
}
