# Ignore Gradle project-specific cache directory
.gradle
.kotlin

# Ignore Gradle build output directory
build

jre-arm64
jre-amd64

graal/godot-kotlin-graal-jni-config.json

*.log
/.godot/
/test_output.txt
