site_name: Godot Kotlin/JVM
docs_dir: src/doc

repo_name: 'utopia-rise/godot-kotlin-jvm'
repo_url: 'https://github.com/utopia-rise/godot-kotlin-jvm'

theme:
  name: material
  favicon: assets/img/favicon.ico
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  logo: assets/img/logo.png
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top


extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/utopia-rise

markdown_extensions:
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed
  - admonition
  - meta

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js
  - js/init.js
extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css

nav:
  - Home: index.md
  - Getting started:
      - Requirements: getting-started/requirements.md
      - Setting up: getting-started/setting-up.md
      - Your first class: getting-started/your-first-class.md
  - User guide:
    - API differences: user-guide/api-differences.md
    - Classes: user-guide/classes.md
    - Properties: user-guide/properties.md
    - Signals: user-guide/signals.md
    - Functions: user-guide/functions.md
    - Exporting: user-guide/exporting.md
    - Versioning: user-guide/versioning.md
    - Supported platforms: user-guide/supported-platforms.md
    - Advanced:
      - Custom src dirs: user-guide/advanced/custom-src-dirs.md
      - Custom gradle wrapper path: user-guide/advanced/custom_gradle_wrapper_path.md
      - Gradle plugin configuration: user-guide/advanced/gradle-plugin-configuration.md
      - Commandline args: user-guide/advanced/commandline-args.md
      - Kotlin singletons: user-guide/advanced/kotlin-singleton.md
  - Contributing:
    - General: contribution/general.md
    - Guidelines: contribution/guidelines.md
    - Setup: contribution/setup.md
    - Build with C# support: contribution/build-with-csharp-support.md
    - Knowledge base:
        - Artefact differentiation: contribution/knowledge-base/artefact-differentiation.md
        - Entry generation: contribution/knowledge-base/entry-generation.md
        - Shared buffer: contribution/knowledge-base/shared-buffer.md
