site_name: Godot Kotlin/JVM
docs_dir: src/doc

repo_name: 'utopia-rise/godot-kotlin-jvm'
repo_url: 'https://github.com/utopia-rise/godot-kotlin-jvm'

theme:
  name: material
  favicon: assets/img/favicon.ico
  palette:
    - media: "(prefers-color-scheme)"
      primary: deep purple
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  logo: assets/img/logo.png
  font:
    code: JetBrains Mono
  features:
    - navigation.tabs
    - navigation.expand
    - navigation.top


extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/utopia-rise

markdown_extensions:
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.details
  - admonition
  - meta

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js
  - js/init.js
extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css

nav:
  - Home: index.md
  - Getting Started:
      - Requirements: getting-started/requirements.md
      - Setting-up: getting-started/setting-up.md
      - Your first Kotlin class: getting-started/your-first-class.md
  - User guide:
    - API differences: user-guide/api-differences.md
    - Classes: user-guide/classes.md
    - Compiling your project: user-guide/compiling-your-project.md
    - Properties: user-guide/properties.md
    - Signals: user-guide/signals.md
    - Functions: user-guide/functions.md
    - Exporting: user-guide/exporting.md
    - Debugging: user-guide/debugging.md
    - Consuming libraries: user-guide/consuming-libraries.md
    - Versioning: user-guide/versioning.md
    - Supported platforms: user-guide/supported-platforms.md
    - Advanced:
      - Abstract classes: user-guide/advanced/abstract-classes.md
      - Cleanup operations: user-guide/advanced/cleanup-operations.md
      - Custom source directories: user-guide/advanced/custom-src-dirs.md
      - Custom Gradle wrapper path: user-guide/advanced/custom-gradle-wrapper-path.md
      - Gradle plugin configuration: user-guide/advanced/gradle-plugin-configuration.md
      - Command-line and configuration arguments: user-guide/advanced/commandline-args-and-configuration.md
      - GraalVM Native Image: user-guide/advanced/graal-vm-native-image.md
  - Develop libraries:
      - Introduction: develop-libraries/introduction.md
      - Setup: develop-libraries/setup.md
      - Publishing: develop-libraries/publishing.md
  - Contributing:
    - General: contribution/general.md
    - Guidelines: contribution/guidelines.md
    - Setup: contribution/setup.md
    - Build with C# support: contribution/build-with-csharp-support.md
    - Support for other JVM-based languages: contribution/support-for-other-jvm-based-languages.md
    - Test changes from branch: contribution/test-change-from-branch.md
    - Knowledge base:
        - Artifact differentiation: contribution/knowledge-base/artifact-differentiation.md
        - Entry generation: contribution/knowledge-base/entry-generation.md
        - Shared buffer: contribution/knowledge-base/shared-buffer.md
        - Memory management: contribution/knowledge-base/memory-management.md
        - Update iOS JDK: contribution/knowledge-base/update-ios-jdk.md