name: Check PR - Engine Editor Release
on: [pull_request]

env:
  SCONS_CACHE_MSVC_CONFIG: true
  GODOT_BASE_VERSION: 4.2.0
  GODOT_BASE_BRANCH: 4.2.0

concurrency:
  group: ci-${{github.actor}}-${{github.head_ref || github.run_number}}-${{github.ref}}-check-pr-engine-editor-release
  cancel-in-progress: true

jobs:
  build-editor-release:
    strategy:
      matrix:
        name: [ Linux, MacOs-x64, MacOs-arm64, Windows ]
        include:
          # always use the oldest still supported LTS version of github actions. See: https://github.com/utopia-rise/godot-kotlin-jvm/issues/224
          - name: Linux
            os: ubuntu-20.04
            platform: x11
            arch: x86_64
          - name: MacOs-x64
            os: macos-latest
            platform: macos
            arch: x86_64
          - name: MacOs-arm64
            os: macos-latest
            platform: macos
            arch: arm64
          - name: Windows
            os: windows-2019
            platform: windows
            arch: x86_64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone Godot Engine
        uses: actions/checkout@v2
        with:
          repository: godotengine/godot
          ref: 4.2-stable
      - name: Clone Godot JVM module.
        uses: actions/checkout@v2
        with:
          path: modules/kotlin_jvm
          submodules: recursive
      # TODO: remove once on godot 4.2.2 or newer!
      - name: Cherry pick macos fix
        run: |
          git fetch -a
          git config --global user.email "mario@super.com"
          git config --global user.name "Super Mario"
          git cherry-pick a2c1c01941a3dec3e2a361d9dc21bb0390efcbaf
      - name: Setup Godot dependencies
        uses: ./.github/actions/godot-deps
      - name: Fix scons version
        run: |
          python -m pip install scons==4.4.0
      - name: Setup Vulkan SDK
        if: matrix.platform == 'macos'
        run: |
          sh misc/scripts/install_vulkan_sdk_macos.sh
      # Upload cache on completion and check it out now
      - name: Setup Godot build cache
        uses: ./.github/actions/godot-cache
        with:
          cache-name: ${{ github.job }}-${{ matrix.platform }}-${{ matrix.arch }}
      - name: Get number of CPU cores
        id: cpu-cores
        uses: SimenB/github-actions-cpu-cores@v1
      - name: Build with editor release
        uses: ./.github/actions/godot-build
        with:
          sconsflags: arch=${{ matrix.arch }} -j${{ steps.cpu-cores.outputs.count }}
          platform: ${{ matrix.platform }}
          target: editor

