name: Check PR - Engine Editor Release
on: [pull_request]

env:
  SCONS_CACHE_MSVC_CONFIG: true
  GODOT_BASE_VERSION: 3.2.3

jobs:
  build-editor-release:
    strategy:
      matrix:
        name: [ Linux, OSX, Windows ]
        include:
          - name: Linux
            os: ubuntu-latest
            platform: x11
          - name: OSX
            os: macos-latest
            platform: osx
          - name: Windows
            os: windows-latest
            platform: windows
    runs-on: ${{ matrix.os }}
    steps:
      - name: Configure dependencies
        if: matrix.platform == 'x11'
        run: |
          sudo apt-get update && sudo apt-get install build-essential pkg-config libx11-dev libxcursor-dev \
            libxinerama-dev libgl1-mesa-dev libglu-dev libasound2-dev libpulse-dev libudev-dev libxi-dev libxrandr-dev yasm
      - name: Clone Godot Engine
        uses: actions/checkout@v2
        with:
          repository: godotengine/godot
          ref: 3.2.3-stable
      - name: Clone Godot JVM module.
        uses: actions/checkout@v2
        with:
          path: modules/kotlin_jvm
          submodules: recursive
      # Upload cache on completion and check it out now
      - name: Load .scons_cache directory
        id: editor-release-cache
        uses: actions/cache@v2
        with:
          path: ${{github.workspace}}/${{matrix.platform}}/.scons_cache/
          key: ${{github.job}}-${{env.GODOT_BASE_VERSION}}-${{github.ref}}-${{github.sha}}
          restore-keys: |
            ${{github.job}}-${{env.GODOT_BASE_VERSION}}-${{github.ref}}-${{github.sha}}
            ${{github.job}}-${{env.GODOT_BASE_VERSION}}-${{github.ref}}
            ${{github.job}}-${{env.GODOT_BASE_VERSION}}
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: Configuring Python packages
        run: |
          python -c "import sys; print(sys.version)"
          python -m pip install scons
      - name: Build with editor release
        env:
          SCONS_CACHE: ${{github.workspace}}/${{matrix.platform}}/.scons_cache/
        run: |
          scons platform=${{ matrix.platform }} target=release_debug
