name: Check PR - Intellij Plugin
on:
  workflow_call:

jobs:
  build-intellij-plugin:
    strategy:
      matrix:
        ij_sdk: [ IJ232 ]
    runs-on: ubuntu-latest
    steps:
      - name: Clone Godot JVM module.
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Build intellij plugin
        uses: eskatos/gradle-command-action@v1
        with:
          wrapper-directory: kt/
          build-root-directory: kt/
          arguments: :godot-intellij-plugin:build -Pgodot.plugins.intellij.version=${{ matrix.ij_sdk }}
