name: Check PR - Entry Generator

on:
  pull_request:
    paths:
      - 'kt/entry-generation/godot-entry-generator/**'

jobs:
  build_entry_generator:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Godot JVM module.
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build intellij plugin
        uses: eskatos/gradle-command-action@v1
        with:
          wrapper-directory: kt/
          build-root-directory: kt/
          arguments: :godot-entry-generator:build