name: Check PR - Engine Editor Debug And Tests
on: [pull_request]

env:
  SCONS_CACHE_MSVC_CONFIG: true
  GODOT_BASE_VERSION: 4.0.0
  GODOT_BASE_BRANCH: 4.0.0

concurrency:
  group: ci-${{github.actor}}-${{github.head_ref || github.run_number}}-${{github.ref}}-check-pr-engine-editor-debug-and-tests
  cancel-in-progress: true

jobs:
  build-godot-bootstrap:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        include:
          - os: ubuntu-latest
            java-version: 11
    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone Godot Engine
        uses: actions/checkout@v2
        with:
          repository: godotengine/godot
          ref: 0cd148313213e2923004be65bafd6a3781c917ec
      - name: Clone Godot JVM module.
        uses: actions/checkout@v2
        with:
          path: modules/kotlin_jvm
          submodules: recursive
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - uses: eskatos/gradle-command-action@v1
        with:
          wrapper-directory: modules/kotlin_jvm/kt/
          build-root-directory: modules/kotlin_jvm/kt/
          arguments: godot-library:build
      - name: Upload godot-bootstrap jar
        uses: actions/upload-artifact@v3
        with:
          name: godot-bootstrap
          path: modules/kotlin_jvm/kt/godot-library/build/libs/godot-bootstrap.jar
  build-editor-debug:
    strategy:
      matrix:
        name: [ Linux, MacOs-x64, MacOs-arm64, Windows ]
        include:
          # always use the oldest still supported LTS version of github actions. See: https://github.com/utopia-rise/godot-kotlin-jvm/issues/224
          - name: Linux
            os: ubuntu-20.04
            platform: x11
            arch: x86_64
          - name: MacOs-x64
            os: macos-latest
            platform: macos
            arch: x86_64
          - name: MacOs-arm64
            os: macos-latest
            platform: macos
            arch: arm64
          - name: Windows
            os: windows-latest
            platform: windows
            arch: x86_64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone Godot Engine
        uses: actions/checkout@v2
        with:
          repository: godotengine/godot
          ref: 0cd148313213e2923004be65bafd6a3781c917ec
      - name: Clone Godot JVM module.
        uses: actions/checkout@v2
        with:
          path: modules/kotlin_jvm
          submodules: recursive
      - name: Linux dependencies
        if: matrix.platform == 'x11'
        shell: bash
        run: |
          # Azure repositories are not reliable, we need to prevent azure giving us packages.
          sudo rm -f /etc/apt/sources.list.d/*
          sudo cp -f misc/ci/sources.list /etc/apt/sources.list
          sudo apt-get update
          # The actual dependencies
          sudo apt-get install build-essential pkg-config libx11-dev libxcursor-dev \
              libxinerama-dev libgl1-mesa-dev libglu-dev libasound2-dev libpulse-dev \
              libdbus-1-dev libudev-dev libxi-dev libxrandr-dev yasm xvfb wget unzip
      - name: Setup Godot dependencies
        uses: ./.github/actions/godot-deps
      - name: Setup Vulkan SDK
        if: matrix.platform == 'macos'
        run: |
          sh misc/scripts/install_vulkan_sdk_macos.sh
      # Upload cache on completion and check it out now
      - name: Setup Godot build cache
        uses: ./.github/actions/godot-cache
        with:
          cache-name: ${{ github.job }}-${{ matrix.platform }}-${{ matrix.arch }}
      - name: Get number of CPU cores
        id: cpu-cores
        uses: SimenB/github-actions-cpu-cores@v1
      - name: Build with editor debug
        uses: ./.github/actions/godot-build
        with:
          sconsflags: arch=${{ matrix.arch }} -j${{ steps.cpu-cores.outputs.count }}
          platform: ${{ matrix.platform }}
          target: editor
      - name: Upload MacOs binary
        if: matrix.platform == 'macos'
        uses: actions/upload-artifact@v3
        with:
          name: macos-editor-debug-app-${{ matrix.arch }}
          path: bin/godot.macos.editor.${{ matrix.arch }}
  create-macos-universal:
    needs: [build-editor-debug]
    strategy:
      matrix:
        os: [ macos-latest ]
        include:
          - os: macos-latest
            java-version: 11
    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone Godot JVM module.
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Create MacOs universal binary
        uses: ./.github/actions/create-macos-universal-binary
        with:
          amd-64-binary-artifact: macos-editor-debug-app-x86_64
          amd-64-binary-name: godot.macos.editor.x86_64
          arm-64-binary-artifact: macos-editor-debug-app-arm64
          arm-64-binary-name: godot.macos.editor.arm64
          universal-output-binary-name: godot.macos.editor.universal
      - name: Upload MacOs universal binary
        uses: actions/upload-artifact@v3
        with:
          name: macos-editor-debug-app
          path: godot.macos.editor.universal
  test-editor-debug:
    needs: [create-macos-universal, build-godot-bootstrap]
    strategy:
      matrix:
        os: [macos-latest]
        include:
          - os: macos-latest
            java-version: 11
    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone Godot Engine
        uses: actions/checkout@v2
        with:
          repository: godotengine/godot
          ref: 0cd148313213e2923004be65bafd6a3781c917ec
      - name: Clone Godot JVM module.
        uses: actions/checkout@v2
        with:
          path: modules/kotlin_jvm
          submodules: recursive
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - name: Build tests project
        uses: eskatos/gradle-command-action@v1
        with:
          wrapper-directory: modules/kotlin_jvm/harness/tests/
          build-root-directory: modules/kotlin_jvm/harness/tests/
          arguments: build
      - name: Download MacOs Editor Debug App
        uses: actions/download-artifact@v1
        with:
          name: macos-editor-debug-app
      - name: Download godot-bootstrap
        uses: actions/download-artifact@v1
        with:
          name: godot-bootstrap
      - name: Run Tests
        run: |
          cp godot-bootstrap/godot-bootstrap.jar macos-editor-debug-app/
          cd modules/kotlin_jvm/harness/tests/
          chmod +x run_godot_kotlin_tests.sh
          chmod +x ../../../../macos-editor-debug-app/godot.macos.editor.universal
          jlink --add-modules java.base,java.logging --output jre
          ./run_godot_kotlin_tests.sh ../../../../macos-editor-debug-app/godot.macos.editor.universal