name: Deploy Intellij' Idea Plugin

on:
  workflow_call:

jobs:
  deploy_godot_intellij_plugin:
    strategy:
      matrix:
        ij_sdk: [ IJ232 ]
    runs-on: ubuntu-latest
    steps:
      - name: Clone Godot JVM module.
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - uses: eskatos/gradle-command-action@v1
        with:
          wrapper-directory: kt/
          build-root-directory: kt/
          arguments: godot-intellij-plugin:publishPlugin -Pgodot.plugins.intellij.version=${{ matrix.ij_sdk }}
        env:
          GODOT_KOTLIN_INTELLIJ_PLUGIN_PUBLISH: ${{ secrets.GODOT_KOTLIN_INTELLIJ_PLUGIN_PUBLISH }}
